h1 {

  color:#FFFFFF;
  font-family:"Courier body copy";
  margin-left:10px;
  margin-right: 10px;
}
hr {

  color:#FFFFFF;
  margin-left:5px;
  margin-right: 1000px;
}
h2 {

  color:#FFFFFF;
  font-family:"Courier body copy";
  font-size:20px;
  margin-left:10px;
  margin-right: 10px;
}

body {
  background-color: #3F8BBF;


}
p {
  color:#FFFFFF;
  font-family:"Courier body copy";
  text-align: "justify";
  width:400px;
  margin-left:10px;
}
#locator { position: absolute; visibility: visible; left: 450px; top: 107px; z-index: 200;

}
