h1 {

  color:#d1a804;
  font-family:"Courier body copy";
  margin-left:10px;
  margin-right: 10px;
}
hr {

  color:#d1a804;
  margin-left:5px;
  margin-right: 1000px;
}
h2 {

  color:#d1a804;
  font-family:"Courier body copy";
  font-size:20px;
  margin-left:10px;
  margin-right: 10px;
}

body {
  background-color: #000000;


}
p {
  color:#d1a804;
  font-family:"Courier body copy";
  text-align: "justify";
  width:400px;
  margin-left:10px;
}
